<div class="container">
<h1>Stupid Coaching</h1>

<%= params[:question] %>
<p>- You</p>

<br>
<br>

<div class="questions">
<%= params[:answer] %>
<p>- Your Coach</p>
</div>

<%= link_to 'Ask a new question', '/ask' %>
</div>
